<h2>Países</h2>
<hr>
<ul class="list-group">
  <!-- <li class="list-group-item" routerLink="home" routerLinkActive="active">Home Page</li>
  <li class="list-group-item" routerLink="about" routerLinkActive="active">About Page</li>
  <li class="list-group-item" routerLink="contact" routerLinkActive="active">Contact Page</li> -->
  <li class="list-group-item" type="button" routerLink="countries/byCapital" routerLinkActive="active">By capital</li>
  <li class="list-group-item" type="button" routerLink="countries/byCountry" routerLinkActive="active">By country</li>
  <li class="list-group-item" type="button" routerLink="countries/byRegion" routerLinkActive="active">By region</li>
</ul>
