<h2>By Capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- todo search box -->
    <!-- 
      Search-box tiene 2 inputs y 2 outputs
      los podemos identificar
     -->
    <shared-search-box [valueInit]="termInit" placeholder="Search by capital" #SearchBox (OnDebounce)="searchByCapital($event)"></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <country-table [countries]="Countries"></country-table>
  </div>
</div>
